<div class="mt-5 ml-5"> 
    <form method="POST" action="">
       <div class="form-group">
        <input type="text" name="search" class="form-control" id="search-input" placeholder="nhap tu khoa">
      </div>
  <button type="submit" class="btn btn-primary">Tim kiem</button>
</form>
</div>